/*
# EJERCICIO
Defina una variable `$page-width` con un valor de` 1400px`, y una variable `$padding` con un valor de `20px`. Luego,
defina una regla para un selector `.container`, establezca su `padding` en el valor de `$padding`, y su `width` en `0.8`
veces el valor de `$page-width`, menos dos veces valor de `$padding`.
*/

$page-width: 1400px;
$padding: 20px;

.container {
    padding: $padding;
    width: 0.8 * $page-width - (2 * $padding);
}